:root {
    --white: #F1F6F9;
    --light-navy: #394867;
    --navy: #212A3E;
    --grey: #9BA4B5;
    --orange: #ef8354;
    --crem: #dad2bc;
    --red: #ff5e5b;
    --dark-red: #96031a;
    --purple: #725ac1;
    --header-bg: rgba(29, 29, 29, 0); /* Transparent black for header gradient */
    --part2-bg: #1d1d1d; /* Background color of #part2 */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--part2-bg);
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 20px;
    padding: 10px;
    border-top: 2px white solid;
    font-family: "Kanit", sans-serif;
}