header {
    position: fixed;
    width: 100%;
    font-weight: 500;
    transition: .25s;
    z-index: 10;
    background-color: transparent; /* Ensure initial background is transparent */
}

span {
    color: white;
    text-shadow: -2px 0px 2px black;
}

header.scrolled {
    background-color: hsla(0, 0%, 100%, 0.311);
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    z-index: 10;
}

header a {
    text-decoration: none;
    color: black;
}

nav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 20px;
    font-size: 16px;
    transition: .15s;
}

#left-side {
    width: 100px;
}

#left-side a i {
    font-size: 19px;
    transition: .15s;
}

#left-side a i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#middle-side {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

#middle-side a {
    background-color: transparent;
    border: 0;
    font-family: "Kanit", sans-serif;
    font-size: 17px;
    font-weight: 500;
    transition: .15s;
    color: black;
    display: flex;
    align-items: center;
}

#middle-side a:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: var(--navy);
}

#right-side {
    width: 100px;
    display: flex;
    justify-content: end;
}

#right-side a {
    background-color: black;
    padding: 5px 7px 5px 7px;
    border-radius: 100px;
    border: 0;
    font-family: "Kanit", sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    transition: .15s;
}

#right-side a {
    color: white;
}

#right-side a:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: invert();
}

#right-side a i:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#hamburger {
    display: none;
    transition: .15s;
    font-size: 20px;
}

#hamburger:hover {
    cursor: pointer;
}

#dropdown-menu {
    display: none;
    position: fixed;
    right: 6px;
    top: 44px;
    background-color: hsla(0, 0%, 100%, 0.566);
    z-index: 10;
    border-radius: 10px;
    overflow: hidden;
}

#dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    transition: .15s;
}

#dropdown-menu a:hover {
    background-color: #f1f1f1;
}
@media (max-width: 700px) {
    #hamburger {
        display: block;
        transition: .15s;
    }
    #right-side button {
        display: none;
    }
    #middle-side {
        display: none;
    }
}
