main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}
h1 {
    color: white;
    font-family: "Kanit", sans-serif;
    margin-bottom: 30px;
}
form {
    width: 550px;
}
#name-container {
    display: flex;
    justify-content: space-between;
}
fieldset {
    border-radius: 10px;
}
legend {
    margin-left: 10px;
}
#first {
    width: 49.5%;
}
#second {
    width: 49.5%;
}
label {
    font-size: 15px;
    font-family: "Kanit", sans-serif;
    color: white;
}
input,
textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
textarea {
    height: 200px;
    resize: vertical;
}
#submit {
    margin-top: 10px;
    width: 100%;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    transition: .15s;
}
#submit:hover {
    transform: scale(1.025);
    cursor: pointer;
}





.contact-container {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    margin-top: 20px;
    height: 20vw;
    column-gap: 2.5vw;
    margin-bottom: 50px;
    font-family: "Kanit", sans-serif;
}
.contact-container article {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-color: rgb(151, 151, 151);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-width: 7px;
    transition: .5s;
    cursor: pointer;
}
.contact-container article:hover {
    --pos: -60px;
}
.contact-container article:after {
    position: absolute;
    content:attr(data-text);
    color:#ffffff;
    overflow: hidden;
    top: 100%;
    opacity: 0;
    transition: .5s;
    font-weight: bold;
    user-select: text;
}
.contact-container article:hover:after {
    opacity: 1;
    top: 160px;
    user-select: auto;
}
.contact-container button {
    font-size: 2vw;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    border: none;
    background-color: transparent;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--pos);
    transition: .5s;
    cursor: pointer;
}
.contact-container button i {
    font-size: 4vw;
}
@media (max-width: 800px) {
    form {
        width: 68.95vw;
        min-width: 344.75px;
    }
}
@media (max-width: 620px) {
    .contact-container {
        grid-template-columns: 256px;
        row-gap: 25px;
        height: 1125px;
    }
    .contact-container button {
        font-size: 25.6px;
    }
    .contact-container article {
        margin-left: -6.5px;
        height: 256px;
    }
    .contact-container button i {
        font-size: 40px;
    }
    .contact-forum div {
        width: 70vw;
    }
}

@media (min-width: 621px) and (max-width: 980px) {
    .contact-container {
        grid-template-columns: 256px 256px;
        height: 550px;
        row-gap: 25px;
        column-gap: 25px;
    }
    .contact-container button {
        font-size: 25.6px;
    }
    .contact-container button i {
        font-size: 40px;
    }
    .contact-container article {
        height: 256px;
        transition: 0s;
    }
    .contact-forum div {
        width: 70vw;
        max-width: 490.5px;
    }
}
@media (min-width: 1280px) {
    .contact-container button {
        font-size: 25.6px;
    }
    .contact-container {
        grid-template-columns: 256px 256px 256px 256px;
        height: 256px;
    }
    .contact-container button i {
        font-size: 47.2px;
    }
}
.copied-text {
    color:yellow;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}